{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content1 %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main css/style.css' %}"/>
{% endblock %}

{% block content %}
<main id="main">


    <!-- ====team section======-->

    <section id="team" class="team section-bg gray-bg container-fluid">
      <div class="container-fluid">

        <div class="section-title">
          <h2 data-aos="fade-up" class="aos-init"  ><center>Team</center></h2>
          <p data-aos="fade-up" class="aos-init"><center>Somos el equipo numero 8 y aqui presentamos la pagina web de la actividad 4 del APP7</center></p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init" data-aos="fade-up">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Esteban Bedoya</h4>
                <span>Integrante 1</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch aos-init" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Values Section ======= -->

    <section id="values" class="values section-bg gray-bg">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch aos-init" data-aos="fade-up">
            <div class="card" >
              <img src= "{% static 'images/TilapiaHTM.JPG' %}" alt="card not found" class="img-fluid card-img-top">

              <div class="card-body card-img-overlay">
                <h5 class="card-title"><a href="">Nuestra mision</a></h5>
                <p>  Ser la empresa exportadora de Colombia numero 1</p>
                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0 aos-init" data-aos="fade-up" data-aos-delay="100">
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title"><a href="">Nuestra vision</a></h5>
                <p class="card-text">Mediante el uso de tecnicas superiores y el alto cuidado de nuestras tilapias ofrecemos el mejor pescado al mejor precio.</p>
                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 aos-init" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Vision</a></h5>
                <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores.</p>
                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 aos-init" data-aos="fade-up" data-aos-delay="300">
            <div class="card" >
              <div class="card-body">
                <h5 class="card-title"><a href="">Our Care</a></h5>
                <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium voluptatem.</p>
                <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Values Section -->

    <!--==========Video Iframe Section =========== -->

<!--  <section id="video_montage section-bg gray-bg">-->
<!--    <div class="embed-responsive embed-responsive-16by9">-->
<!--      &lt;!&ndash;<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5kW3xqdykQs&t=81s&ab_channel=spearbelize" allowfullscreen type="video/mp4></iframe>-->
<!--      &ndash;&gt;-->
<!--      <video autoplay muted loop>-->
<!--&lt;!&ndash;      <source src="static/videos/GRILLED TILAPIA FISH IN 15 MINUTES!.mp4" type="video/ogg">&ndash;&gt;-->
<!--      <source src="https://www.youtube.com/embed/Nanaaba%27sKitchen" type="video/ogg">-->
<!--      Your browser does not support the video tag.-->
<!--    </video>-->
<!--    </div>-->

<!--  </section>-->

    <!-- ======= Pricing Section ======= -->

    <section id="pricing" class="pricing">
      <div class="container-fluid">

        <div class="section-title">
          <h2 data-aos="fade-up" class="aos-init" >Promociones</h2>
          <p data-aos="fade-up" class="aos-init">Aqui puedes encontrar nuestros mejores precios</p>
        </div>

        <div class="row">

          {% for product in products %}
          {% if "Promociones" in product.category.name %}
          <div class="col-lg-3 col-md-6 aos-init" data-aos="fade-up">
            <div class="box">
              <h3>{{ product.title }}</h3>
              <h4><sup>$</sup>{{ product.price }}<span> / paquete</span></h4>
              <img class="img-fluid " src="{{ product.image.url }}" alt="Responsive image"
                             style="height: 200px; height: 200px">
              <div class="btn-wrap">
                <p>{{ product.description }}</p>




                     <!-- ======= this part creates a button that sends the data in forms to the respective view =======-->
                <div class="btn-wrap">
                                    <form method="post" action="/index#pricing" class="form-group align-content-center">
                                        {% csrf_token %}



                                        <input type="hidden" name="name" id="name" value={{ product.title }}>
                                        <input type="hidden" name="price" id="price" value={{ product.price }}>
                                        <input type="hidden" name="currentuser" id="currentuser" value={{ request.user.id }}>


                                        <button , name="send_data" type="submit" class="btn-buy">Comprar</button>

                                    </form>
                                </div>


              </div>
            </div>
          </div>
          {% endif %}
          {% endfor %}


        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Contact Section ======= -->

    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up" class="aos-init">Contacto</h2>
          <p data-aos="fade-up" class="aos-init">Preguntanos en los siguientes enlaces</p>
        </div>

        <div class="row justify-content-center">

          <div class="col-xl-3 col-lg-4 mt-4 aos-init" data-aos="fade-up">
            <div class="info-box">
              <i class="bx bx-map"></i>
              <h3>Direccion</h3>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 mt-4 aos-init" data-aos="fade-up" data-aos-delay="100">
            <div class="info-box">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>ali.br@gmail.com.com<br>granat365@gmail.com</p>
            </div>
          </div>
          <div class="col-xl-3 col-lg-4 mt-4 aos-init" data-aos="fade-up" data-aos-delay="200">
            <div class="info-box">
              <i class="bx bx-phone-call"></i>
              <h3>LLamanos</h3>
              <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center aos-init" data-aos="fade-up" data-aos-delay="300">
          <div class="col-xl-9 col-lg-12 mt-4">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  <!-- ======== Puntos de Venta ====== -->

  <section id="PuntosVenta" class="map">

    <div class="section-title">
      <h2 data-aos="fade-up" class="aos-init">PUNTOS DE VENTA</h2>
      <p data-aos="fade-up" class="aos-init">Localizados en la ciudad del cal en el edificio del SENA</p>
    </div>

    <div class="embed-responsive embed-responsive-16by9">

      <iframe id="punto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7965.0419318371105!2d-76.50587617585698!3d3.465851939909755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a7cb2482faeb%3A0xe4fde148db1bbf5a!2sEl%20Sena%2C%20Cali%2C%20Valle%20del%20Cauca%2C%20Colombia!5e0!3m2!1ses!2sde!4v1620839288400!5m2!1ses!2sde"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </section>


</main>
{% endblock %}